<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testng">
    <test verbose="2" name="testng" >
        <classes>
            <class name="com.ai.tc.LoginTC"></class>
            <class name="com.ai.tc.MenuTC"></class>
        </classes>
    </test>
</suite>